<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course</title>
    <link rel="stylesheet" href="/views/assets/Course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<body>
    <div class="TabBar">
        <header>
            <div class="logo">
                <a href="/" id="logo"><img href="/"
                        src="https://media.discordapp.net/attachments/1013480789062713488/1022162140867596410/unknown.png"
                        width="150" height="50"></a>
            </div>
            </form>
            <nav>
                <ul class="nav_links">
                    <li><a href="/" style="margin: 10px">Home</a></li>
                    <li><a href="course_guest">Courses</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </nav>
        </header>
    </div><br><br>
    <div class="dropdown2">
        <span class="Catagory">
            <label for="cata">Catagory :</label>
            <select id="cata">
                <option>All</option>
                <option>###</option>
                <option>###</option>
                <option>###</option>
            </select>
        </span>
        <span class="Teacher">
            <label for="Teac">Teacher :</label>
            <select id="Teac">
                <option>All</option>
                <option>###</option>
                <option>###</option>
                <option>###</option>
            </select>
        </span>
        <div class="search">
            <form action="#">
                <input type="text" placeholder=" Search Courses" name="search">
                <button class="iconseaech">
                    <i class="fa fa-search" style="font-size: 18px;">
                    </i>
                </button>
            </form>
        </div>
    </div>
    <div class="white-box">
        <h2 style="padding: 4%; font-family: monospace, sans-serif;">Courses</h2>

        <% for(var i=0; i < Course.length ; i) { %>

            <% if(i==0) { %>
                <div class="flex-container" id="line1">
                    <% }else if(i % 3==0) { %>
                        <div class="flex-container" id="line1" style="margin-top: 7%;">
                            <%}%>
                                <% if(i < Course.length) {%>
                                    <div class="item1" id="11">
                                        <img class="imgdum" src="/views/image/dummy-img.png"><br><br>
                                        <a class="textnamecourse" href="###">
                                            <%= Course[i].name %>
                                        </a>
                                    </div>
                                    <% i++ %>
                                <%}%>
                                <% if(i < Course.length) {%>
                                    <div class="item1" id="11">
                                        <img class="imgdum" src="/views/image/dummy-img.png"><br><br>
                                        <a class="textnamecourse" href="###"><%= Course[i].name %></a>
                                    </div>
                                    <% i++ %>
                                <%}%>
                                <% if(i < Course.length) {%>
                                    <div class="item1" id="11">
                                        <img class="imgdum" src="/views/image/dummy-img.png"><br><br>
                                        <a class="textnamecourse" href="###"><%= Course[i].name %></a>
                                    </div>
                                    <% i++ %>
                                <%}%>
                    <% if(i % 3==0) { %>
                        </div>
                    <%}%>
            <% }; %>
                </div>
                <script>
                    /* When the user clicks on the button, 
                    toggle between hiding and showing the dropdown content */
                    function myFunction() {
                        document.getElementById("myDropdown").classList.toggle("show");
                    }

                    // Close the dropdown if the user clicks outside of it
                    window.onclick = function (event) {
                        if (!event.target.matches('.dropbtn')) {
                            var dropdowns = document.getElementsByClassName("dropdown-content");
                            var i;
                            for (i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    }
                </script>
</body>

</html>