<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JoodTUBE</title>
        <link href= "views/assets/index.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <body>
        <div class="TabBar">
            <header> 
                <div class="logo">
                    <a href="/" id="logo"><img href="/" src="https://media.discordapp.net/attachments/1013480789062713488/1022162140867596410/unknown.png"   width="150" height="50"></a>
                  </div>
            </form> 
                <nav>
                    <ul class="nav_links">
                        <li><a href="/course_guest" id="courseguest">Courses</a></li>
                        <li><a href="/login" id="loginpage">Login</a></li>
                    </ul>
                </nav>  
            </header>                                                                                                     
        </div><br><br>
        <!-- end TabBar-->

        <div class="bottomside">
            <h1> Wellcome to JoodTUBE <br><br><br>
                Let’s start learning <br><br><br>
                join us! 
            </h1>
        </div>
        <div class="img">
            <img src="https://media.discordapp.net/attachments/1013480789062713488/1022216703003869214/Untitled10_20220919003155_1.png"  width="700" height="450">
        </div>
        <div class="login&Reg"> 
            <a href="/login" class="button" id="btnloginpage" style = "position:absolute; left:150px; top:440px; ">Login</a>
            <a href="/register" class="button" id="btnRegisterpage" style = "position:absolute; left:400px; top:440px; ">Register</a>
        </div>
        <div class="white-box">
            <div class="inside">
                
            </div>
            <div class="vdo1">
                <img src="https://i.imgur.com/m7b5Kkg.png" style="width: auto;" height="550px">
            </div>
        </div>
            

        
    </body>
</html>     