<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Watch-page</title>
    
      <link rel="stylesheet" href="/views/assets/Watch-page.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
        <div class="TabBar">
            <div class="TabBar">
                <header>
                    <div class="logo">
                        <a href="/" id="logo"><img href="/"
                                src="https://media.discordapp.net/attachments/1013480789062713488/1022162140867596410/unknown.png"
                                width="150" height="50"></a>
                    </div>
                    </form>
                    <nav>
                        <ul class="nav_links">
                            <li><a href="/" style="margin: 10px">Home</a></li>
                            <li><a href="/course?user=<%=user%>">Courses</a></li>
                            <li><a href="/upload_vdo?user=<%=user%>">Upload</a></li>
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">My Profile</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="#">Profile</a>
                                    <a href="/">logout</a>
                                </div>
                            </div>
    
                        </ul>
                    </nav>
                </header>
            </div><br><br>
            
                <div class="whilebox ">
                        <div class="d-flex">
                            <div>
                                <h1 class="tittle">Ep 3: Should I raise money for my startup, or not?</h1>
                                <img src="/views/image/dummy-img.png " width="850px" height="500px" style="margin-left: 35px;">

                            </div>
                            
                            
                            <div class="leftbar ">
                                <div class="cosname">
                                    <p >“ Course name ”</p>
                                    
                                </div>
                                <div class="Ep">
                                    <a href="/views/Watchpage-main/Watch-page1.html">Ep 1: How to build a world-class business brand</a>
                                </div>
                                <div class="Ep">
                                    <a href="/views/Watchpage-main/Watch-page2.html">Ep 2: Getting the first 100 customers for your business</a>
                                </div>
                                <div class="Ep">
                                    <a href="#">Ep 3: Should I raise money for my startup, or not?</a>
                                </div>
                                <div class="Ep">
                                    <a href="/views/Watchpage-main/Watch-page4.html">Ep 4: How to build a world-class business brand</a>
                                </div>
                                <div class="Ep">
                                    <a href="/views/Watchpage-main/Watch-page5.html">Ep 5: Getting the first 100 customers for your business</a>
                                </div>
                                <div class="Ep">
                                    <a href="/views/Watchpage-main/Watch-page6.html">Ep 6: Should I raise money for my startup, or not?</a>
                                </div>
                            </div>  
                     </div>
                     
                     
                </div>
           
           
            <script>
                   /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }    
            </script>
    </body>
    
    </html>